<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--tailwind css CDN  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
</head>
<body>
    <!-- header section -->
    <header>
        <a href="/index"><img src="/logo-1.png" alt="" width="150"></a>
        <nav class="navbar">
            <ul>
                <li><a href="/index">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/tracker">CarbonTracker</a></li>
                <li><a href="/finder"> Finder<span class="material-symbols-outlined">search </span></a></li>
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-4 text-center dark:bg-blue-600 dark:hover:bg-green-700 dark:focus:ring-blue-800"><a href="/auth/logout">LogOut</a></button>
        </nav>
        <div class="fas fa-bars"></div>
    </header>
    <!-- header section -->
    <!-- home section -->
    <section class="home" id="home">
        <div class="content">
            <h1>Small steps, big impact.</h1>
            <p>Develop sustainable living habits through challenges and sustainable lifestyle programmes. Collect points and earn rewards!

            </p>
            <a href="#" class="btn">explore more</a>
        </div>
    </section>
    <!-- about section -->
    <section class="about" id="about">
        <div class="row">
            <div class="image">
                <img src="/about.png" alt="">
            </div>
            <div class="content">
                <h2>together we can save the planet</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus molestias corporis inventore soluta odio vero, dolor itaque illo eos. Velit, sequi libero animi debitis provident odit perferendis maxime repudiandae illo.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere omnis fugit corporis dignissimos saepe! Accusamus accusantium enim laudantium voluptatem ab?</p>
                <a href="#" class="btn">learn more</a>
            </div>
        </div>
        <div class="box-container">
            <div class="box">
                <i class="fas fa-users"></i>
                <h3>10000+</h3>
                <p>volunteers</p>
            </div>
            <div class="box">
                <i class="fas fa-tree"></i>
                <h3>1300+</h3>
                <p>trees planted</p>
            </div>
            <div class="box">
                <i class="fas fa-paw"></i>
                <h3>500+</h3>
                <p>animals saved</p>
            </div>
            <div class="box">
                <i class="fas fa-donate"></i>
                <h3>850+</h3>
                <p>donators</p>
            </div>
        </div>
    </section>
    <!-- services section -->
    <section class="services" id="services">
        <h1 class="heading"> <i class="fas fa-quote-left"></i> our services <i class="fas fa-quote-right"></i></h1>
        <div class="box-container">
            <div class="box">
                <div class="detail">
                    <i class="fas fa-seedling"></i>
                    <h3>Real Time bus Crowd tracking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
                    <a href="/finder">Finder</a>
                </div>
            </div>
            <div class="box">
                <div class="detail">
                    <i class="fas fa-recycle"></i>
                    <h3>Real time Bus tracking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
                    <a href="/tracker">Track</a>
                </div>
            </div>
            <div class="box">
                <div class="detail">
                    <i class="fas fa-hand-holding-water"></i>
                    <h3>Carbon Emission tracking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, nemo?</p>
                    <a href="/tracker">Track</a>
                </div>
            </div>
            
    <!-- footer section -->
    <section class="footer">
        
            <!-- <div class="box">
                <h3 class="share">share</h3>
                <a href="">facebook</a>
                <a href="">twitter</a>
                <a href="">what's app</a>
                <a href="">instagram</a>
            </div> -->
        <h1 class="credit">created by <span>Team Copy Pasta</span> | all right reserved</h1>
    </section>











    <!-- lightbox start -->
    <div class="lightbox">
        <div class="lightbox-content">
            <div class="lightbox-close">&times</div>
            <img src="/project2.jpg" alt="" class="lightbox-img">
        </div>
        <div class="lightbox-control">
            <div class="prev" onclick="prevSlide()"><i class="fa fa-angle-left"></i></div>
            <div class="next" onclick="nextSlide()"><i class="fa fa-angle-right"></i></div>
        </div>
    </div>
    <!-- lightbox end -->
    <script src="js/script.js"></script>
</body>
</html>