{{!-- hbs:handel bars --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
   
</head>
<body>
    <nav>
        <h4>NODE Mysql</h4>
        <ul>
            <li>
                <a href="/">HOME</a>
                <a href="/profile">PROFILE</a>
                <a href="/auth/logout">LOGOUT</a>
            </li>
        </ul>
    </nav>


    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="avatar-ctn">
                        <img src="/avatar.png" class="avatar" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{user.name}}
                        </h5>
                        <p class="card-text">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <a href="#" class="btn btn-primary">{{user.email}}</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                                Profile Page
                    </div>
                    <div class="card-body">
                            <h5 class="card-title">
                                Welcome Back {{user.name}}
                            </h5>
                            <p class="card-text">It uses utility classes for typography and spacing to space content out within the larger container.</p>
                            <a href="#" class="btn btn-primary">GO SOME WHERE</a>
                    </div>
                    <div class="card-footer text-muted">
                            Node MySQL - Project
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>